.header,
li,
ul,
h1,
h2 {
  font-family: "Noto Sans JP", sans-serif;
  color: #ffffff;
}

.container-right {
  z-index: 1;
  justify-content: center;
  align-content: center;
  position: relative;
  height: 55vh;
  opacity: 0;
  text-align: right;
  padding: 8rem;
  border-right: solid 2px #ffffff;
  margin: 4rem;
  animation-duration: 1.5s;
  animation-name: left-to-right;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.container-right .projects {
  gap: 2rem;
  padding: 8rem 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.container-right .projects .img-container {

}

.container-right .projects img {
  filter: blur(5px);
  height: 9rem;
  width: 16rem;
}

.container-right .projects img:hover {
  cursor: pointer;
  filter: blur(1px);
  animation: deblur 1s forwards;
}

@keyframes deblur {
  0% { filter: blur(5px);}
  100% { filter: blur(0px);}
}

@keyframes left-to-right {
  100% {
    opacity: 1;
  }
  from {
    display: flex;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
