.header, li, ul, h1, h2 {
  font-family: "Noto Sans JP", sans-serif;
  color: #ffffff;
}

.container-projects {
  width: 100%;
  padding: 1rem;
  border-right: solid 2px #ffffff;
  animation-duration: 1.5s;
  animation-name: left-to-right;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  text-align: right;
  opacity: 0;
}

.container-projects .projects .img {
  width: 100%;
  aspect-ratio: 16/9;
}

.container-projects .projects .img-blurred {
  filter: blur(8px);
  width: 100%;
  aspect-ratio: 16/9;
}

.container-projects .projects .img-blurred:hover {
  cursor: pointer;
  filter: blur(1px);
  animation: deblur 1s forwards;
}

.projects {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-container {
  max-width: 32rem;
  min-width: 12rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem
}

.tags {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tag {
  border-radius: 0.6rem;
  background: #0f3c4c;
  font-weight: 900;
  border: solid #777777 2px;
  padding: 0.2rem;
}

.description {
  text-align: left;
  width: 0;
  min-width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

@keyframes deblur {
  0% { filter: blur(5px);}
  100% { filter: blur(0px);}
}

@keyframes left-to-right {
  100% {
    opacity: 1;
  }
  from {
    display: flex;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
