.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  background-color: #000000;
}

.navbar a {
  text-decoration: none;
  padding: 0.6rem;
  font-size: 1.4em;
  font-family: "Noto Sans JP", sans-serif;
  color: #708cbc;
  transition: color 1s;
}

.navbar a:hover, a.active {
  text-decoration: none;
  color: #d9e7ff;
}

.navbar-left {
  margin-left: auto;
}
